<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: Buttons</title>
  </head>
  <body>

    <div class="contain-to-grid full-top-bar">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">DysonSphere Styleguide</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li><a href="https://github.com/LaunchAcademy/dyson_sphere" target="_blank">Github</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <dl class="sub-nav">
      <div class="row">
        
          <dd class="">
            <a href="/styleguide/fancy_form_fields.html">Fancy Form Fields</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/headers_and_footers.html">Headers and Footers</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/layout_and_formatting.html">Layout and Formatting</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/page_sections.html">Page Sections</a>
          </dd>
        
          <dd class="active">
            <a href="/styleguide/buttons.html">Buttons</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/index.html">Colors</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/typography.html">Typography</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/misc.html">Misc</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/slick_carousel.html">Slick Carousel</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/mixins.html">Mixins</a>
          </dd>
        
      </div>
    </dl>

    <div class="row">
      <div class="columns">
        <section class="content">
          
          <div class="columns ">
<h1 id="buttons" class="styleguide">Buttons</h1>

<p>Besides normal Foundation buttons, you can also specify green and pink buttons.</p>

<h3>Primary Buttons:</h3>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel27">
        primary buttons
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel27" class="content">
        <pre><span class="nc">.button</span> Normal button
<span class="nc">.btn-green</span> Green button
<span class="nc">.btn-pink</span> Pink button</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='button'>Normal button</div>
<div class='btn-green'>Green button</div>
<div class='btn-pink'>Pink button</div>
  </div>
  </ul>
</div>


<h3>Secondary Buttons:</h3>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel28">
        secondary buttons
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel28" class="content">
        <pre><span class="nc">.btn-border</span> Button with border
<span class="nc">.btn-hollow-green</span> Green hollow button
<span class="nc">.btn-hollow-white-green</span> White/green hollow button</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='btn-border'>Button with border</div>
<div class='btn-hollow-green'>Green hollow button</div>
<div class='btn-hollow-white-green'>White/green hollow button</div>
  </div>
  </ul>
</div>


<h3>Call to Actions:</h3>

<p>You can add an arrow to your button by adding the class .cta</p>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel29">
        call to actions
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel29" class="content">
        <pre><span class="nc">.btn-green.cta</span> Call to action</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='btn-green cta'>Call to action</div>
  </div>
  </ul>
</div>


<h3>Form Submit Buttons</h3>

<p>For CTAs on form submit buttons, use &lt;button&gt;&lt;/button&gt; elements rather than default &lt;input type="submit"&gt;</p>

<h5>Using Rails form_for</h5>

<pre>= f.button "button text", id: "some_id", class: "button cta"</pre>

<h5>Using Simple_Form</h5>

<pre>= f.button :button, "button text", id: "if you want an id", class: "button cta"</pre>
          </div>
          <p>This documentation generated using <a href="http://github.com/trulia/hologram">Hologram</a>
        </section>
      </div>
    </div>
  </body>
</html>
