<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: Fancy Form Fields</title>
  </head>
  <body>

    <div class="contain-to-grid full-top-bar">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">DysonSphere Styleguide</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li><a href="https://github.com/LaunchAcademy/dyson_sphere" target="_blank">Github</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <dl class="sub-nav mts">
      <div class="row">
        
          <dd class="">
            <a href="/styleguide/layout_and_formatting.html">Layout and Formatting</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/buttons.html">Buttons</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/markdown_rendering.html">Markdown Rendering</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/index.html">Colors and Fonts</a>
          </dd>
        
          <dd class="active">
            <a href="/styleguide/fancy_form_fields.html">Fancy Form Fields</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/headers_and_hero_images.html">Headers and Hero Images</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/footer.html">Footer</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/misc.html">Misc</a>
          </dd>
        
      </div>
    </dl>

    <div class="row">
      <div class="columns">
        <section class="content">
          
          <div class="columns ">
<h1 id="fancy-email-boxes" class="styleguide">Fancy Email Boxes</h1>

<p><code>fancy-email-box</code> refers to an email box that looks like the example below:
<div class="row">
  <div class='large-6 columns fancy-email-box'>
    <form>
      <fieldset>
        <div class='row collapse'>
          <div class='medium-7 columns text-center'>
            <input placeholder='enter your email address...' type='text'>
          </div>
          <div class='medium-5 columns button-container'>
            <div class='btn-green cta'>
              <input type='submit' value='Send me one'>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="row">
  <p>The following haml was used to create this email box: </p>
<p class="styleguide">  <div class="highlight highlight-text-haml"><pre><span class="pl-ent">.large-6.columns.fancy-email-box</span>
    %<span class="pl-ent">form</span><span class="pl-ent">.fancy-email-box</span>
      %<span class="pl-ent">fieldset</span>
        <span class="pl-ent">.row.collapse</span>
          <span class="pl-ent">.medium-7.columns.text-center</span>
            %<span class="pl-ent">input</span>(type=&quot;text&quot; placeholder=&quot;enter your email address...&quot;)
          <span class="pl-ent">.medium-5.columns.button-container</span>
            %<span class="pl-ent">button</span>(type=&quot;submit&quot; class=&quot;tiny btn-pink cta&quot;)
              Subscribe</pre></div>
</div></p>
<h2>Customization</h2>
<p class="styleguide">By default, something with the class of <code>.fancy-email-box</code> will have the same border color, background color, placeholder color, and text color as the example shown above. (The button color can be customized based on the class you put on the button - it&#39;s shown as <code>btn-green</code>, but could alternatively have any other button class.)</p><p class="styleguide">You can customize the border color, background color, placeholder color, and text color of this form field by using the <code>fancy-email-box</code> mixing instead of the built-in <code>fancy-email-box</code> class. To do so, replace the <code>fancy-email-box</code> class name from the HTML shown above with a custom class name of your own. Then, write your own scss for that new class that does <code>@include fancy-email-box</code>, with the relevant arguments passed to the mixin.</p>
<h3>Mixin Arguments</h3>
<p class="styleguide">The <code>fancy-email-box</code> takes four optional arguments:</p>
<ul>
  <li><code>$border-color</code></li>
  <li><code>$background-color</code></li>
  <li><code>$text-color</code></li>
  <li><code>$placeholder-color</code></li>
</ul>
<p class="styleguide">Each of these values has a default value (as shown in the aboce example of the rendered form), but those default values can be overwritten by passing in new arguments. New arguments are passed in a way that resembles key-value pairs:</p>
<div class="highlight highlight-source-scss"><pre><span class="pl-e">.my-custom-class</span> {
  <span class="pl-k">@include</span> <span class="pl-c1">fancy-email-box</span>(<span class="pl-smi">$border-color</span><span class="pl-v">:</span> <span class="pl-c1">red</span>, <span class="pl-smi">$background-color</span><span class="pl-v">:</span> <span class="pl-id">pink</span>, <span class="pl-smi">$text-color</span><span class="pl-v">:</span> <span class="pl-c1">white</span>, <span class="pl-smi">$placeholder-color</span><span class="pl-v">:</span> <span class="pl-c1">white</span>);
}</pre></div>
<p class="styleguide">Any number of these optional arguments can be included - you can overwrite all of them, just a couple of them, or none at all! If you don&#39;t plan on overwriting one of the default values, just leave it out of the arguments list.</p>          </div>
          <p>This documentation generated using <a href="http://github.com/trulia/hologram">Hologram</a>
        </section>
      </div>
    </div>
  </body>
</html>
