<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: Footer</title>
  </head>
  <body>

    <div class="contain-to-grid full-top-bar">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">DysonSphere Styleguide</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li><a href="https://github.com/LaunchAcademy/dyson_sphere" target="_blank">Github</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <dl class="sub-nav mts">
      <div class="row">
        
          <dd class="">
            <a href="/styleguide/layout_and_formatting.html">Layout and Formatting</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/buttons.html">Buttons</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/markdown_rendering.html">Markdown Rendering</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/index.html">Colors and Fonts</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/headers_and_hero_images.html">Headers and Hero Images</a>
          </dd>
        
          <dd class="active">
            <a href="/styleguide/footer.html">Footer</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/misc.html">Misc</a>
          </dd>
        
      </div>
    </dl>

    <div class="row">
      <div class="columns">
        <section class="content">
          
          <div class="columns ">
<h1 id="footer" class="styleguide">Footer</h1>

<p>Here's the code for making the classic Launch footer.</p>

<p>Note: The icky-looking visual bugs you see here (the photos
not existing and looking weird, the content being pressed up right
against the edges, etc.) won't actually be present when you use this
as an actual footer in your site.</p>
<div class="codeExample">
  <div class="exampleOutput clearfix">
    <footer>
  <div class="row">
    <div class="address large-3 columns">
      <h5>About Launch Academy</h5>
      <p>33 Harrison Ave #501</p>
      <p>Boston, MA 02111</p>
      <br/>
      <p>
        T:
        <span class="blue-text">857.600.2250</span>
      </p>
      <p>
        E:
        <span class="blue-text">hello@launchacademy.com</span>
      </p>
    </div>
    <div class="team large-9 columns">
      <div class="columns">
        <h5 class="pbm">About The Team</h5>
      </div>
      <div class="large-4 profile columns">
        <div class="photo">
          <img src="" alt="dan-photo">
        </div>
        <div class="text">
          <h6 class="name">Dan Pickett</h6>
          <p class="role">Co-Founder</p>
          <p class="bio">Founder & Principle at LaunchWare Co-Organizer of Boston Ruby Group Formally Dir. of Engineering @ Gazelle Coding professionally since 2002.</p>
        </div>
      </div>
      <div class="large-4 profile columns">
        <div class="photo">
          <img src="" alt="evan-photo">
        </div>
        <div class="text">
          <h6 class="name">Evan Charles</h6>
          <p class="role">Co-Founder</p>
          <p class="bio">Former Private Equite & Two Successfuly Exits edTech Hacker, snowboarder, golfer, decennial marathoner, beach aficionado</p>
        </div>
      </div>
      <div class="large-4 profile columns">
        <div class="photo">
          <img src="" alt="whitney-photo">
        </div>
        <div class="text">
          <h6 class="name">Whitney Wilkinson</h6>
          <p class="role">Operations Manager</p>
          <p class="bio">Former Sr. Assoc. Director @ Northeastern Professional friendrauser and dog enthusiast. Avid recreational dancer</p>
        </div>
      </div>
      <div class="columns view-more">
        <div class="cta">
          <a href="#">View More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row sub-footer">
    <div class="columns">
      <ul>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
        <li>
          <a href="#">Codecabulary</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li class="social-media">
          <a href="https://www.facebook.com/TheLaunchAcademy">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="social-media">
          <a href="https://twitter.com/LaunchAcademy_">
            <i class="fa fa-twitter-square"></i>
          </a>
        </li>
      </ul>
      <div class="copyright">
        © Copyright 2015 Launch Academy.
        <a href="#">Terms and Conditions</a>
      </div>
    </div>
  </div>
</footer>


  </div>
  <div class="codeBlock">
    <div class="highlight panel">
      <pre><span class="nt">&lt;footer&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"address large-3 columns"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;h5&gt;</span>About Launch Academy<span class="nt">&lt;/h5&gt;</span>
      <span class="nt">&lt;p&gt;</span>33 Harrison Ave #501<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;p&gt;</span>Boston, MA 02111<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;br/&gt;</span>
      <span class="nt">&lt;p&gt;</span>
        T:
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"blue-text"</span><span class="nt">&gt;</span>857.600.2250<span class="nt">&lt;/span&gt;</span>
      <span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;p&gt;</span>
        E:
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"blue-text"</span><span class="nt">&gt;</span>hello@launchacademy.com<span class="nt">&lt;/span&gt;</span>
      <span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"team large-9 columns"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h5</span> <span class="na">class=</span><span class="s">"pbm"</span><span class="nt">&gt;</span>About The Team<span class="nt">&lt;/h5&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"large-4 profile columns"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"photo"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">""</span> <span class="na">alt=</span><span class="s">"dan-photo"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"text"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;h6</span> <span class="na">class=</span><span class="s">"name"</span><span class="nt">&gt;</span>Dan Pickett<span class="nt">&lt;/h6&gt;</span>
          <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"role"</span><span class="nt">&gt;</span>Co-Founder<span class="nt">&lt;/p&gt;</span>
          <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"bio"</span><span class="nt">&gt;</span>Founder <span class="err">&amp;</span> Principle at LaunchWare Co-Organizer of Boston Ruby Group Formally Dir. of Engineering @ Gazelle Coding professionally since 2002.<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"large-4 profile columns"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"photo"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">""</span> <span class="na">alt=</span><span class="s">"evan-photo"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"text"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;h6</span> <span class="na">class=</span><span class="s">"name"</span><span class="nt">&gt;</span>Evan Charles<span class="nt">&lt;/h6&gt;</span>
          <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"role"</span><span class="nt">&gt;</span>Co-Founder<span class="nt">&lt;/p&gt;</span>
          <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"bio"</span><span class="nt">&gt;</span>Former Private Equite <span class="err">&amp;</span> Two Successfuly Exits edTech Hacker, snowboarder, golfer, decennial marathoner, beach aficionado<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"large-4 profile columns"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"photo"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">""</span> <span class="na">alt=</span><span class="s">"whitney-photo"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"text"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;h6</span> <span class="na">class=</span><span class="s">"name"</span><span class="nt">&gt;</span>Whitney Wilkinson<span class="nt">&lt;/h6&gt;</span>
          <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"role"</span><span class="nt">&gt;</span>Operations Manager<span class="nt">&lt;/p&gt;</span>
          <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"bio"</span><span class="nt">&gt;</span>Former Sr. Assoc. Director @ Northeastern Professional friendrauser and dog enthusiast. Avid recreational dancer<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns view-more"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"cta"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>View More<span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row sub-footer"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"columns"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;ul&gt;</span>
        <span class="nt">&lt;li&gt;</span>
          <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Blog<span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;/li&gt;</span>
        <span class="nt">&lt;li&gt;</span>
          <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Careers<span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;/li&gt;</span>
        <span class="nt">&lt;li&gt;</span>
          <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Codecabulary<span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;/li&gt;</span>
        <span class="nt">&lt;li&gt;</span>
          <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Contact Us<span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;/li&gt;</span>
        <span class="nt">&lt;li&gt;</span>
          <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>FAQ<span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;/li&gt;</span>
        <span class="nt">&lt;li&gt;</span>
          <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Privacy<span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;/li&gt;</span>
        <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"social-media"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"https://www.facebook.com/TheLaunchAcademy"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"fa fa-facebook-square"</span><span class="nt">&gt;&lt;/i&gt;</span>
          <span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;/li&gt;</span>
        <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"social-media"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"https://twitter.com/LaunchAcademy_"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"fa fa-twitter-square"</span><span class="nt">&gt;&lt;/i&gt;</span>
          <span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;/li&gt;</span>
      <span class="nt">&lt;/ul&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"copyright"</span><span class="nt">&gt;</span>
        © Copyright 2015 Launch Academy.
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Terms and Conditions<span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/footer&gt;</span></pre>
    </div>
  </div>
</div>
          </div>
          <div class="row text-center">
            <div class="columns">
              <footer>
                <p>This documentation generated using <a href="http://github.com/trulia/hologram">Hologram</a>
              </footer>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
