<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: Footer</title>
  </head>
  <body>

    <div class="contain-to-grid full-top-bar">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">DysonSphere Styleguide</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li><a href="https://github.com/LaunchAcademy/dyson_sphere" target="_blank">Github</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <dl class="sub-nav">
      <div class="row">
        
          <dd class="">
            <a href="/styleguide/fancy_form_fields.html">Fancy Form Fields</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/layout_and_formatting.html">Layout and Formatting</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/page_sections.html">Page Sections</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/buttons.html">Buttons</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/index.html">Colors and Fonts</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/headers_and_hero_images.html">Headers and Hero Images</a>
          </dd>
        
          <dd class="active">
            <a href="/styleguide/footer.html">Footer</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/misc.html">Misc</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/slick_carousel.html">Slick Carousel</a>
          </dd>
        
      </div>
    </dl>

    <div class="row">
      <div class="columns">
        <section class="content">
          
          <div class="columns ">
<h1 id="footer" class="styleguide">Footer</h1>

<p>Here's the code for making the classic Launch footer.</p>

<p>Note: The icky-looking visual bugs you see here (the photos
not existing and looking weird, the content being pressed up right
against the edges, etc.) won't actually be present when you use this
as an actual footer in your site.</p>

<p>To keep your footer at the bottom of the page no matter what,
add a div with the class of `container` right inside your `body` tag,
and wrap all the rest of your content EXCEPT the footer inside this div.</p>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel450">
        basic footer
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel450" class="content">
        <pre><span class="nt">%footer</span>
  <span class="nc">.row</span>
    <span class="nc">.address.large-3.columns</span>
      <span class="nt">%h5</span> About Launch Academy
      <span class="nt">%p</span> 33 Harrison Ave #501
      <span class="nt">%p</span> Boston, MA 02111
      <span class="nt">%br</span>
      <span class="nt">%p</span>
        T:
        <span class="nt">%a</span><span class="nc">.blue-text</span> 857.600.2250
      <span class="nt">%p</span>
        E:
        <span class="nt">%a</span><span class="nc">.blue-text</span> hello@launchacademy.com
    <span class="nc">.team.large-9.columns</span>
      <span class="nt">%h5</span><span class="nc">.pbm</span> About The Team

      <span class="nc">.large-4.profile.columns</span>
        <span class="nc">.photo</span>
          <span class="nt">%img</span><span class="p">(</span><span class="na">src=</span><span class="s">""</span> <span class="na">alt=</span><span class="s">"dan-photo"</span>)
        <span class="nc">.text</span>
          <span class="nt">%h6</span><span class="nc">.name</span> Dan Pickett
          <span class="nt">%p</span><span class="nc">.role</span> Co-Founder
          <span class="nt">%p</span><span class="nc">.bio</span> Founder <span class="err">&amp;</span> Principle at LaunchWare Co-Organizer of Boston Ruby Group Formally Dir. of Engineering @ Gazelle Coding professionally since 2002.
      <span class="nc">.large-4.profile.columns</span>
        <span class="nc">.photo</span>
          <span class="nt">%img</span><span class="p">(</span><span class="na">src=</span><span class="s">""</span> <span class="na">alt=</span><span class="s">"dan-photo"</span>)
        <span class="nc">.text</span>
          <span class="nt">%h6</span><span class="nc">.name</span> Dan Pickett
          <span class="nt">%p</span><span class="nc">.role</span> Co-Founder
          <span class="nt">%p</span><span class="nc">.bio</span> Founder <span class="err">&amp;</span> Principle at LaunchWare Co-Organizer of Boston Ruby Group Formally Dir. of Engineering @ Gazelle Coding professionally since 2002.
      <span class="nc">.large-4.profile.columns</span>
        <span class="nc">.photo</span>
          <span class="nt">%img</span><span class="p">(</span><span class="na">src=</span><span class="s">""</span> <span class="na">alt=</span><span class="s">"dan-photo"</span>)
        <span class="nc">.text</span>
          <span class="nt">%h6</span><span class="nc">.name</span> Dan Pickett
          <span class="nt">%p</span><span class="nc">.role</span> Co-Founder
          <span class="nt">%p</span><span class="nc">.bio</span> Founder <span class="err">&amp;</span> Principle at LaunchWare Co-Organizer of Boston Ruby Group Formally Dir. of Engineering @ Gazelle Coding professionally since 2002.
      <span class="nc">.columns.view-more</span>
        <span class="nt">%a</span><span class="nc">.cta</span> View More

  <span class="nc">.row.sub-footer</span>
    <span class="nc">.columns</span>
      <span class="nt">%ul</span>
        <span class="nt">%li</span>
          <span class="nt">%a</span> Blog
        <span class="nt">%li</span>
          <span class="nt">%a</span> Careers
        <span class="nt">%li</span>
          <span class="nt">%a</span> Codedabulary
        <span class="nt">%li</span>
          <span class="nt">%a</span> Contact Us
        <span class="nt">%li</span>
          <span class="nt">%a</span> Privacy
        <span class="nt">%li</span><span class="nc">.social-media</span>
          <span class="nt">%a</span>
            <span class="nt">%i</span><span class="nc">.fa.fa-facebook-square</span>
        <span class="nt">%li</span><span class="nc">.social-media</span>
          <span class="nt">%a</span>
            <span class="nt">%i</span><span class="nc">.fa.fa-twitter-square</span>

      <span class="nc">.copyright</span>
        © Copyright 2015 Launch Academy.
        <span class="nt">%a</span> Terms and Conditions</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <footer>
  <div class='row'>
    <div class='address large-3 columns'>
      <h5>About Launch Academy</h5>
      <p>33 Harrison Ave #501</p>
      <p>Boston, MA 02111</p>
      <br>
      <p>
        T:
        <a class='blue-text'>857.600.2250</a>
      </p>
      <p>
        E:
        <a class='blue-text'>hello@launchacademy.com</a>
      </p>
    </div>
    <div class='team large-9 columns'>
      <h5 class='pbm'>About The Team</h5>
      <div class='large-4 profile columns'>
        <div class='photo'>
          <img alt='dan-photo' src=''>
        </div>
        <div class='text'>
          <h6 class='name'>Dan Pickett</h6>
          <p class='role'>Co-Founder</p>
          <p class='bio'>Founder & Principle at LaunchWare Co-Organizer of Boston Ruby Group Formally Dir. of Engineering @ Gazelle Coding professionally since 2002.</p>
        </div>
      </div>
      <div class='large-4 profile columns'>
        <div class='photo'>
          <img alt='dan-photo' src=''>
        </div>
        <div class='text'>
          <h6 class='name'>Dan Pickett</h6>
          <p class='role'>Co-Founder</p>
          <p class='bio'>Founder & Principle at LaunchWare Co-Organizer of Boston Ruby Group Formally Dir. of Engineering @ Gazelle Coding professionally since 2002.</p>
        </div>
      </div>
      <div class='large-4 profile columns'>
        <div class='photo'>
          <img alt='dan-photo' src=''>
        </div>
        <div class='text'>
          <h6 class='name'>Dan Pickett</h6>
          <p class='role'>Co-Founder</p>
          <p class='bio'>Founder & Principle at LaunchWare Co-Organizer of Boston Ruby Group Formally Dir. of Engineering @ Gazelle Coding professionally since 2002.</p>
        </div>
      </div>
      <div class='columns view-more'>
        <a class='cta'>View More</a>
      </div>
    </div>
  </div>
  <div class='row sub-footer'>
    <div class='columns'>
      <ul>
        <li>
          <a>Blog</a>
        </li>
        <li>
          <a>Careers</a>
        </li>
        <li>
          <a>Codedabulary</a>
        </li>
        <li>
          <a>Contact Us</a>
        </li>
        <li>
          <a>Privacy</a>
        </li>
        <li class='social-media'>
          <a>
            <i class='fa fa-facebook-square'></i>
          </a>
        </li>
        <li class='social-media'>
          <a>
            <i class='fa fa-twitter-square'></i>
          </a>
        </li>
      </ul>
      <div class='copyright'>
        © Copyright 2015 Launch Academy.
        <a>Terms and Conditions</a>
      </div>
    </div>
  </div>
</footer>
  </div>
  </ul>
</div>
          </div>
          <p>This documentation generated using <a href="http://github.com/trulia/hologram">Hologram</a>
        </section>
      </div>
    </div>
  </body>
</html>
