<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: Layout and Formatting</title>
  </head>
  <body>

    <div class="contain-to-grid full-top-bar">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">DysonSphere Styleguide</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li><a href="https://github.com/LaunchAcademy/dyson_sphere" target="_blank">Github</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <dl class="sub-nav">
      <div class="row">
        
          <dd class="">
            <a href="/styleguide/fancy_form_fields.html">Fancy Form Fields</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/headers_and_footers.html">Headers and Footers</a>
          </dd>
        
          <dd class="active">
            <a href="/styleguide/layout_and_formatting.html">Layout and Formatting</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/page_sections.html">Page Sections</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/buttons.html">Buttons</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/index.html">Colors</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/typography.html">Typography</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/misc.html">Misc</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/slick_carousel.html">Slick Carousel</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/mixins.html">Mixins</a>
          </dd>
        
      </div>
    </dl>

    <div class="row">
      <div class="columns">
        <section class="content">
          
            <div class="small-3 columns">
              <ul class="side-nav">
              
                <li><a href="#block_lists">Block Lists</a></li>
              
                <li><a href="#border">Border Classes</a></li>
              
                <li><a href="#extended_grid_system">Extended Grid System</a></li>
              
                <li><a href="#misc_helper_classes">Misc Helper Classes</a></li>
              
                <li><a href="#panels">Panels</a></li>
              
                <li><a href="#spacing">Custom Spacing Classes</a></li>
              
                <li><a href="#splitColumns">Split Columns</a></li>
              
                <li><a href="#splitColumnsMedium">Split Columns (Medium)</a></li>
              
              </ul>
            </div>
          
          <div class="columns small-9">
<h1 id="block_lists" class="styleguide">Block Lists</h1>

<p>Block lists resemble single-column tables.</p>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel8">
        block lists
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel8" class="content">
        <pre><span class="nt">%ul</span><span class="nc">.block</span>
  <span class="nt">%li</span> Item 1
  <span class="nt">%li</span> Item 2
  <span class="nt">%li</span> Item 3</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <ul class='block'>
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>
  </div>
  </ul>
</div>


<h1 id="border" class="styleguide">Border Classes</h1>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel9">
        bottom-border
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel9" class="content">
        <pre><span class="nc">.bottom-border</span>
  <span class="nt">%p</span> Bottom borders are dotted.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='bottom-border'>
  <p>Bottom borders are dotted.</p>
</div>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel10">
        top-border
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel10" class="content">
        <pre><span class="nc">.top-border</span>
  <span class="nt">%p</span> Top borders are solid.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='top-border'>
  <p>Top borders are solid.</p>
</div>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel11">
        all-around border
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel11" class="content">
        <pre><span class="nc">.border</span>
  <span class="nt">%p</span> All-around borders are solid.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='border'>
  <p>All-around borders are solid.</p>
</div>
  </div>
  </ul>
</div>


<h1 id="extended_grid_system" class="styleguide">Extended Grid System</h1>

<p>The Foundation grid system is pretty complete, but has a couple gaps. Here we keep additions we make to the Foundation grid system classes:</p>

<p><code>.large-offset-1-and-half</code> can be used for offsetting columns by one-and-a-half columns width on a large screen. This is useful for centering three groups of three columns (like for pricing tables).</p>

<h1 id="misc_helper_classes" class="styleguide">Misc Helper Classes</h1>

<p>Adding the class <code>full-width</code> to something will make it <code>width: 100%;</code><p>

<p>Adding the class <code>inline</code> to something will make it <code>display: inline;</code><p>



<h1 id="panels" class="styleguide">Panels</h1>

<h3>White Panel</h3>
<div class="la-panel columns mbl">
  <h3>Example <code>.la-panel</code></h3>
  <code>div.la-panel.columns.mbl</code>
  <p>
    Adding the class <code>la-panel</code> to a div will provide it a white
    background. This div also has the classes <code>columns</code> and
    <code>mbl</code> to provide padding and margin.
  </p>
<p class="styleguide"></div></p>
<h3>Contrast Panel</h3>

<div class="contrast-panel columns mbl pal">
  <h3>Example <code>.contrast-panel</code></h3>
  <p>
    Adding the class <code>contrast-panel</code> to a div will provide it a blue
    background, white text, and the "header" font for all text. <a href="#">Links
    even look okay!</a>
  </p>
  <h4>Recommended Use:</h4>
  <pre>
<code>.contrast-panel
  .row
    %h1 ...
    %p ...</code>
  </pre>
</div>

<h1 id="spacing" class="styleguide">Custom Spacing Classes</h1>

<p>To provide custom padding and margin to elements, add a class to the element by assembling one letter from each category below depending on your needs:</p>

<p>1. <code>p, m</code> = padding, margin</p>

<p>2. <code>a, t, r, b, l, h, v</code> = all, top, right, bottom, left, horizontal, vertical</p>

<p>3. <code>s, m, l, n, a</code> = small(5px), medium(10px), large(20px), none(0), auto(auto)</p>

<h4>Example:</h4>

<p><code>.ptm</code> --> "padding top medium"</p>

<p><code>.mvl</code> --> "margin vertical large"</p>

<p><code>.pas</code> --> "padding all small"</p>

<h1 id="splitColumns" class="styleguide">Split Columns</h1>

<p>Split columns allow you to have two pieces of content next to each other, separated by a vertical line. On small and medium screens, the will move to be vertically stacked and have a horizontal separator line.</p>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel12">
        split-columns
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel12" class="content">
        <pre><span class="nc">.split-column.clearfix</span>
  <span class="nc">.columns.medium-6</span>
    <span class="nt">%p</span> You can really have whatever your heart desires here for content.
  <span class="nc">.columns.medium-6</span>
    <span class="nt">%p</span> You can really have whatever your heart desires here for content.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='split-column clearfix'>
  <div class='columns medium-6'>
    <p>You can really have whatever your heart desires here for content.</p>
  </div>
  <div class='columns medium-6'>
    <p>You can really have whatever your heart desires here for content.</p>
  </div>
</div>
  </div>
  </ul>
</div>


<h1 id="splitColumnsMedium" class="styleguide">Split Columns (Medium)</h1>

<p>Split columns allow you to have two pieces of content next to each other, separated by a vertical line. On small screens, the will move to be vertically stacked and have a horizontal separator line.</p>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel13">
        split-column-medium
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel13" class="content">
        <pre><span class="nc">.split-column-medium.clearfix</span>
  <span class="nc">.columns.medium-6</span>
    <span class="nt">%p</span> You can really have whatever your heart desires here for content.
  <span class="nc">.columns.medium-6</span>
    <span class="nt">%p</span> You can really have whatever your heart desires here for content.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='split-column-medium clearfix'>
  <div class='columns medium-6'>
    <p>You can really have whatever your heart desires here for content.</p>
  </div>
  <div class='columns medium-6'>
    <p>You can really have whatever your heart desires here for content.</p>
  </div>
</div>
  </div>
  </ul>
</div>

          </div>
          <p>This documentation generated using <a href="http://github.com/trulia/hologram">Hologram</a>
        </section>
      </div>
    </div>
  </body>
</html>
