<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: Page Sections</title>
  </head>
  <body>

    <div class="contain-to-grid full-top-bar">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">DysonSphere Styleguide</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li><a href="https://github.com/LaunchAcademy/dyson_sphere" target="_blank">Github</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <dl class="sub-nav">
      <div class="row">
        
          <dd class="">
            <a href="/styleguide/fancy_form_fields.html">Fancy Form Fields</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/headers_and_footers.html">Headers and Footers</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/layout_and_formatting.html">Layout and Formatting</a>
          </dd>
        
          <dd class="active">
            <a href="/styleguide/page_sections.html">Page Sections</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/buttons.html">Buttons</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/index.html">Colors</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/typography.html">Typography</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/misc.html">Misc</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/slick_carousel.html">Slick Carousel</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/mixins.html">Mixins</a>
          </dd>
        
      </div>
    </dl>

    <div class="row">
      <div class="columns">
        <section class="content">
          
            <div class="small-3 columns">
              <ul class="side-nav">
              
                <li><a href="#blue">Blue</a></li>
              
                <li><a href="#circle">Circle</a></li>
              
                <li><a href="#dark">Dark</a></li>
              
                <li><a href="#image">Image</a></li>
              
                <li><a href="#light">Light</a></li>
              
                <li><a href="#light-blue">Light Blue</a></li>
              
                <li><a href="#pink">Pink</a></li>
              
                <li><a href="#white">White</a></li>
              
                <li><a href="#z-customization">Customization</a></li>
              
              </ul>
            </div>
          
          <div class="columns small-9">
<h1 id="blue" class="styleguide">Blue</h1>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel13">
        blue page section
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel13" class="content">
        <pre><span class="nc">.blue-page-section</span>
  <span class="nc">.small-9.small-centered.columns</span>
    <span class="nt">%h2</span> Example Title
    <span class="nt">%hr</span>
    <span class="nt">%p</span> At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='blue-page-section'>
  <div class='small-9 small-centered columns'>
    <h2>Example Title</h2>
    <hr>
    <p>At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</p>
  </div>
</div>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel14">
        blue page section with title lines
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel14" class="content">
        <pre><span class="nc">.blue-page-section.title-lines</span>
  <span class="nc">.small-9.small-centered.columns</span>
    <span class="nt">%h2</span> Example Title
    <span class="nt">%p</span> At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='blue-page-section title-lines'>
  <div class='small-9 small-centered columns'>
    <h2>Example Title</h2>
    <p>At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</p>
  </div>
</div>
  </div>
  </ul>
</div>


<h1 id="circle" class="styleguide">Circle</h1>
<p class="styleguide">For a circle page section, you can use the class name shown here (though customization using the mixin is recommended). This will display the default image shown here.</p>
  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel15">
        circle page section
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel15" class="content">
        <pre><span class="nc">.circle-page-section</span>
  <span class="nc">.hero-section</span>
    <span class="nc">.small-12.small-centered.columns</span>
      <span class="nc">.hero-circle</span>
      <span class="nc">.circle-text</span>
        <span class="nt">%h3</span><span class="nc">.bold.circle-text-1</span> Let's Get
        <span class="nt">%h1</span><span class="nc">.circle-text-2</span> Started!
        <span class="nt">%button</span><span class="nc">.btn-border.cta.apply-btn</span> Apply Today</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='circle-page-section'>
  <div class='hero-section'>
    <div class='small-12 small-centered columns'>
      <div class='hero-circle'></div>
      <div class='circle-text'>
        <h3 class='bold circle-text-1'>Let's Get</h3>
        <h1 class='circle-text-2'>Started!</h1>
        <button class='btn-border cta apply-btn'>Apply Today</button>
      </div>
    </div>
  </div>
</div>
  </div>
  </ul>
</div>


<h4>Circle Section Customization</h4>
<p class="styleguide">To customize the circle, image, and overlay, you can include the mixin called <code>circle-page-section</code> in your own custom class.</p><p class="styleguide">The mixin takes the following arguments:</p>
<ul>
  <li><code>$filename</code> - the name of the file you want to use as a background image. (This name will the be automatically wrapped in <code>image_url</code>.)</li>
  <li><code>$overlay</code> [OPTIONAL] - the color you would like to overlay the image with. This is set to <code>transparent</code> by default.</li>
  <li><code>$circle-color</code> [OPTIONAL] - the color you would like the circle to be. This is set to <code>$la-blue</code> by default.</li>
  <li><code>$circle-opacity</code> [OPTIONAL] - the opacity you would like your circle to have. This is set to <code>.6</code> by default.</li>
</ul>
<p class="styleguide">Example:</p>
<pre>.my-custom-class {
  @include circle-page-section(
    $filename: "launchers.jpg",
    $overlay: rgba(0,0,0,.5),
    $circle-color: $la-green,
    $circle-opacity: .9);
}</pre>

<h1 id="dark" class="styleguide">Dark</h1>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel16">
        dark page section
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel16" class="content">
        <pre><span class="nc">.dark-page-section</span>
  <span class="nc">.small-9.small-centered.columns</span>
    <span class="nt">%h2</span> Example Title
    <span class="nt">%hr</span>
    <span class="nt">%p</span> At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='dark-page-section'>
  <div class='small-9 small-centered columns'>
    <h2>Example Title</h2>
    <hr>
    <p>At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</p>
  </div>
</div>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel17">
        dark page section with title lines
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel17" class="content">
        <pre><span class="nc">.dark-page-section.title-lines</span>
  <span class="nc">.small-9.small-centered.columns</span>
    <span class="nt">%h2</span> Example Title
    <span class="nt">%p</span> At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='dark-page-section title-lines'>
  <div class='small-9 small-centered columns'>
    <h2>Example Title</h2>
    <p>At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</p>
  </div>
</div>
  </div>
  </ul>
</div>


<h1 id="image" class="styleguide">Image</h1>
<p class="styleguide">For a simple image page section, use the class name shown here (though customization using the mixin is recommended). This will display the default image shown here.</p>
  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel18">
        image page section
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel18" class="content">
        <pre><span class="nc">.image-page-section</span>
  <span class="nc">.small-9.small-centered.columns</span>
    <span class="nt">%h2</span> Example Title
    <span class="nt">%hr</span>
    <span class="nt">%p</span> At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='image-page-section'>
  <div class='small-9 small-centered columns'>
    <h2>Example Title</h2>
    <hr>
    <p>At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</p>
  </div>
</div>
  </div>
  </ul>
</div>


<h4>Image Customization</h4>
<p class="styleguide">To customize the image and the overlay, you can include the mixin called <code>image-page-section</code> in your own custom class.</p><p class="styleguide">The mixin takes the following arguments:</p>
<ul>
  <li><code>$filename</code> - the name of the file you want to use as a background image. (This name will the be automatically wrapped in <code>image_url</code>.)</li>
  <li><code>$overlay</code> - the color you would like to overlay the image with. This is set to <code>transparent</code> by default.</li>
</ul>
<p class="styleguide">Example:</p>
<pre>.my-custom-class {
  @include image-page-section("launchers.jpg", rgba(0,0,0,.5));
}</pre>

<h1 id="light" class="styleguide">Light</h1>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel19">
        light page section
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel19" class="content">
        <pre><span class="nc">.light-page-section</span>
  <span class="nc">.small-9.small-centered.columns</span>
    <span class="nt">%h2</span> Example Title
    <span class="nt">%hr</span>
    <span class="nt">%p</span> At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='light-page-section'>
  <div class='small-9 small-centered columns'>
    <h2>Example Title</h2>
    <hr>
    <p>At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</p>
  </div>
</div>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel20">
        light page section with title lines
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel20" class="content">
        <pre><span class="nc">.light-page-section.title-lines</span>
  <span class="nc">.small-9.small-centered.columns</span>
    <span class="nt">%h2</span> Example Title
    <span class="nt">%p</span> At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='light-page-section title-lines'>
  <div class='small-9 small-centered columns'>
    <h2>Example Title</h2>
    <p>At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</p>
  </div>
</div>
  </div>
  </ul>
</div>


<h1 id="light-blue" class="styleguide">Light Blue</h1>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel21">
        light blue page section
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel21" class="content">
        <pre><span class="nc">.light-blue-page-section</span>
  <span class="nc">.small-9.small-centered.columns</span>
    <span class="nt">%h2</span> Example Title
    <span class="nt">%hr</span>
    <span class="nt">%p</span> At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='light-blue-page-section'>
  <div class='small-9 small-centered columns'>
    <h2>Example Title</h2>
    <hr>
    <p>At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</p>
  </div>
</div>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel22">
        light blue page section with title lines
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel22" class="content">
        <pre><span class="nc">.light-blue-page-section.title-lines</span>
  <span class="nc">.small-9.small-centered.columns</span>
    <span class="nt">%h2</span> Example Title
    <span class="nt">%p</span> At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='light-blue-page-section title-lines'>
  <div class='small-9 small-centered columns'>
    <h2>Example Title</h2>
    <p>At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</p>
  </div>
</div>
  </div>
  </ul>
</div>


<h1 id="pink" class="styleguide">Pink</h1>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel23">
        pink page section
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel23" class="content">
        <pre><span class="nc">.pink-page-section</span>
  <span class="nc">.small-9.small-centered.columns</span>
    <span class="nt">%h2</span> Example Title
    <span class="nt">%hr</span>
    <span class="nt">%p</span> At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='pink-page-section'>
  <div class='small-9 small-centered columns'>
    <h2>Example Title</h2>
    <hr>
    <p>At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</p>
  </div>
</div>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel24">
        pink page section with title lines
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel24" class="content">
        <pre><span class="nc">.pink-page-section.title-lines</span>
  <span class="nc">.small-9.small-centered.columns</span>
    <span class="nt">%h2</span> Example Title
    <span class="nt">%p</span> At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='pink-page-section title-lines'>
  <div class='small-9 small-centered columns'>
    <h2>Example Title</h2>
    <p>At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</p>
  </div>
</div>
  </div>
  </ul>
</div>


<h1 id="white" class="styleguide">White</h1>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel25">
        white page section
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel25" class="content">
        <pre><span class="nc">.white-page-section</span>
  <span class="nc">.small-9.small-centered.columns</span>
    <span class="nt">%h2</span> Example Title
    <span class="nt">%hr</span>
    <span class="nt">%p</span> At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='white-page-section'>
  <div class='small-9 small-centered columns'>
    <h2>Example Title</h2>
    <hr>
    <p>At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</p>
  </div>
</div>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel26">
        white page section with title lines
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel26" class="content">
        <pre><span class="nc">.white-page-section.title-lines</span>
  <span class="nc">.small-9.small-centered.columns</span>
    <span class="nt">%h2</span> Example Title
    <span class="nt">%p</span> At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <div class='white-page-section title-lines'>
  <div class='small-9 small-centered columns'>
    <h2>Example Title</h2>
    <p>At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.</p>
  </div>
</div>
  </div>
  </ul>
</div>


<h1 id="z-customization" class="styleguide">Customization</h1>
<p class="styleguide">In addition to the helper classes listed below, there is a mixin called <code>page-section</code> that you can use to customize the colors of your own page sections.</p><p class="styleguide">The mixin takes the following arguments:</p>
<ul>
  <li><code>$background-color</code></li>
  <li><code>$header-color</code></li>
  <li><code>$body-color</code> - set to a default of <code>$body-font-color</code>, the value for all body text set in foundation_and_overrides</li>
  <li><code>$line-color</code> - describes the colors of the hr underline or title lines. Set to a default of whatever the <code>$body-color</code> variable is set to.</li>
</ul>
<p class="styleguide">You can include the mixin in your own styles if there isn&#39;t an existing helper class that suits your needs! Example:</p>
<pre>.my-custom-class {
  @include page-section(
    $background-color: $la-navy,
    $header-color: $la-white,
    $body-color: $la-white
  );
}</pre>
          </div>
          <p>This documentation generated using <a href="http://github.com/trulia/hologram">Hologram</a>
        </section>
      </div>
    </div>
  </body>
</html>
