<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: Typography</title>
  </head>
  <body>

    <div class="contain-to-grid full-top-bar">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">DysonSphere Styleguide</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li><a href="https://github.com/LaunchAcademy/dyson_sphere" target="_blank">Github</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <dl class="sub-nav">
      <div class="row">
        
          <dd class="">
            <a href="/styleguide/fancy_form_fields.html">Fancy Form Fields</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/headers_and_footers.html">Headers and Footers</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/layout_and_formatting.html">Layout and Formatting</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/page_sections.html">Page Sections</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/buttons.html">Buttons</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/index.html">Colors</a>
          </dd>
        
          <dd class="active">
            <a href="/styleguide/typography.html">Typography</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/misc.html">Misc</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/slick_carousel.html">Slick Carousel</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/mixins.html">Mixins</a>
          </dd>
        
      </div>
    </dl>

    <div class="row">
      <div class="columns">
        <section class="content">
          
            <div class="small-3 columns">
              <ul class="side-nav">
              
                <li><a href="#fonts">Fonts</a></li>
              
                <li><a href="#title-line">Title Lines</a></li>
              
                <li><a href="#typography_helper_classes">Typography Helper Classes</a></li>
              
              </ul>
            </div>
          
          <div class="columns small-9">
<h1 id="fonts" class="styleguide">Fonts</h1>

<div class="panel">
  <h1 class="no-border">Primary Font: Quatro Slab</h1>
  <p>Variable name: <code>$header-font</code></p>
  <p>Used for headlines, sub headlines, short body copy, hyperlinks and CTA buttons</p>

  <h3> Header Font Weights</h3>
  <p>We have 3 different font weights we use: `normal`, `bold`, and `$medium` (which maps to the CSS value of `500`). Use any of these three values when setting font weight for a header font (and preferably not any other values besides these three options.)</p>
</div>
<p class="styleguide"><hr>
<div class="panel">
  <h3>Example $body-font - size $la-body-font-size (default size):</h3>
  <p class="la-font-small">Cupcake ipsum dolor sit. Amet sweet roll lollipop candy wafer ice cream gingerbread biscuit. Gummies macaroon bonbon tart cotton candy dessert. Dessert sesame snaps toffee oat cake caramels cookie biscuit macaroon marshmallow. Marzipan croissant gingerbread sweet roll muffin danish. Powder tootsie roll toffee. Carrot cake dessert dragée wafer cake brownie. Icing pastry oat cake.</p></p><p class="styleguide">  <h3>Size $la-font-extra-small:</h3>
  <p class="la-font-extra-small">Cupcake ipsum dolor sit. Amet sweet roll lollipop candy wafer ice cream gingerbread biscuit. Gummies macaroon bonbon tart cotton candy dessert. Dessert sesame snaps toffee oat cake caramels cookie biscuit macaroon marshmallow. Marzipan croissant gingerbread sweet roll muffin danish. Powder tootsie roll toffee. Carrot cake dessert dragée wafer cake brownie. Icing pastry oat cake.</p>
</div>
<hr>
<div class="panel">
  <h3>Example $code-font</h3>
  <pre class="highlight plaintext"><code>Yay example code!!&#x000A;</code></pre>
</div></p>
<h1 id="title-line" class="styleguide">Title Lines</h1>

<p>If you want a particular header to have nice lines on either side of it, include the mixin <code>title-line(color)</code> to the styles you're defining for that header. Example:</p>
<p class="styleguide"><code>@include title-line($la-grey);</code></p>
<h1 id="typography_helper_classes" class="styleguide">Typography Helper Classes</h1>

<p>These helper classes will allow you to apply consistent styling to different types of text you might want to use.</p>

  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel30">
        <span class="nc">.bold</span> helper class
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel30" class="content">
        <pre><span class="nt">%p</span>
  Adding the class .bold to an element
  <span class="nt">%span</span><span class="nc">.bold</span> will make it bold.</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <p>
  Adding the class .bold to an element
  <span class='bold'>will make it bold.</span>
</p>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel31">
        <span class="nc">.medium</span> helper class
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel31" class="content">
        <pre><span class="nt">%p</span>
  Adding the class .medium to an element
  <span class="nt">%span</span><span class="nc">.medium</span> will make it medium font weight (500).</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <p>
  Adding the class .medium to an element
  <span class='medium'>will make it medium font weight (500).</span>
</p>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel32">
        blue-text
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel32" class="content">
        <pre><span class="nt">%h3</span><span class="nc">.blue-text</span> Example Blue Header</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <h3 class='blue-text'>Example Blue Header</h3>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel33">
        green-text
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel33" class="content">
        <pre><span class="nt">%h3</span><span class="nc">.green-text</span> Example Green Header</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <h3 class='green-text'>Example Green Header</h3>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel34">
        white-text
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel34" class="content">
        <pre><span class="nt">%h3</span><span class="nc">.white-text</span> Example White Header</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <h3 class='white-text'>Example White Header</h3>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel35">
        navy-text
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel35" class="content">
        <pre><span class="nt">%h3</span><span class="nc">.navy-text</span> Example Black (aka "la-navy") Header</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <h3 class='navy-text'>Example Black (aka "la-navy") Header</h3>
  </div>
  </ul>
</div>


  
  
  


<div class="codeExample">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel36">
        meta-info
        <div class="right">
          <i class="fa fa-code"></i>
        </div>
      </a>
      <div id="panel36" class="content">
        <pre><span class="nt">%span</span><span class="nc">.meta-info</span> Christina Koller - June 29, 2015 at 3:15pm</pre>
      </div>
    </li>
  <div class="exampleOutput clearfix">
    <span class='meta-info'>Christina Koller - June 29, 2015 at 3:15pm</span>
  </div>
  </ul>
</div>

          </div>
          <p>This documentation generated using <a href="http://github.com/trulia/hologram">Hologram</a>
        </section>
      </div>
    </div>
  </body>
</html>
