<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: Typography</title>
  </head>
  <body>

    <div class="contain-to-grid full-top-bar">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">DysonSphere Styleguide</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li><a href="https://github.com/LaunchAcademy/dyson_sphere" target="_blank">Github</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <dl class="sub-nav">
      <div class="row">
        
          <dd class="">
            <a href="/styleguide/fancy_form_fields.html">Fancy Form Fields</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/headers_and_footers.html">Headers and Footers</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/layout_and_formatting.html">Layout and Formatting</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/page_sections.html">Page Sections</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/buttons.html">Buttons</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/colors.html">Colors</a>
          </dd>
        
          <dd class="active">
            <a href="/styleguide/typography.html">Typography</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/misc.html">Misc</a>
          </dd>
        
          <dd class="">
            <a href="/styleguide/slick_carousel.html">Slick Carousel</a>
          </dd>
        
      </div>
    </dl>

    <div class="row">
      <div class="columns">
        <section class="content">
          
            <div class="small-3 columns">
              <ul class="side-nav">
              
                <li><a href="#fonts">Fonts</a></li>
              
                <li><a href="#title-line">Title Lines</a></li>
              
                <li><a href="#typography_helper_classes">Typography Helper Classes</a></li>
              
              </ul>
            </div>
          
          <div class="columns small-9">
<h1 id="fonts" class="styleguide">Fonts</h1>

<div class="panel">
  <h1 class="no-border">Primary Font: Quatro Slab</h1>
  <p>Variable name: <code>$header-font</code></p>
  <p>Used for headlines, sub headlines, short body copy, hyperlinks and CTA buttons</p>
</div>
<p class="styleguide"><hr>
<div class="panel">
  <h3>Example $body-font - size $la-body-font-size (default size):</h3>
  <p class="la-font-small">Cupcake ipsum dolor sit. Amet sweet roll lollipop candy wafer ice cream gingerbread biscuit. Gummies macaroon bonbon tart cotton candy dessert. Dessert sesame snaps toffee oat cake caramels cookie biscuit macaroon marshmallow. Marzipan croissant gingerbread sweet roll muffin danish. Powder tootsie roll toffee. Carrot cake dessert dragée wafer cake brownie. Icing pastry oat cake.</p></p><p class="styleguide">  <h3>Size $la-font-extra-small:</h3>
  <p class="la-font-extra-small">Cupcake ipsum dolor sit. Amet sweet roll lollipop candy wafer ice cream gingerbread biscuit. Gummies macaroon bonbon tart cotton candy dessert. Dessert sesame snaps toffee oat cake caramels cookie biscuit macaroon marshmallow. Marzipan croissant gingerbread sweet roll muffin danish. Powder tootsie roll toffee. Carrot cake dessert dragée wafer cake brownie. Icing pastry oat cake.</p>
</div>
<hr>
<div class="panel">
  <h3>Example $code-font</h3>
  <pre class="highlight plaintext"><code>Yay example code!!&#x000A;</code></pre>
</div></p>
<h1 id="title-line" class="styleguide">Title Lines</h1>

<p>If you want a particular header to have nice lines on either side of it, include the mixin <code>title-line(color)</code> to the styles you're defining for that header. Example:</p>
<p class="styleguide"><code>@include title-line($la-grey);</code></p>
<h1 id="typography_helper_classes" class="styleguide">Typography Helper Classes</h1>

<div class="la-panel pal">
  <p>These helper classes will allow you to apply consistent styling to different types of text you might want to use.</p>

  <h4>For blue text color - <code>.blue-text</code>:</h4>
  <hr>
  <h3 class="blue-text">Example Blue Header</h3>
  <div class="codeBlock mvl">
    <div class="highlight">
      <pre><span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"blue-text"</span><span class="nt">&gt;</span>Example Blue Header<span class="nt">&lt;/h3&gt;</span></pre>
    </div>
  </div>
  <hr>

  <h4>For green text color - <code>.green-text</code>:</h4>
  <hr>
  <h3 class="green-text">Example Green Header</h3>
  <div class="codeBlock mvl">
    <div class="highlight">
      <pre><span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"green-text"</span><span class="nt">&gt;</span>Example Green Header<span class="nt">&lt;/h3&gt;</span></pre>
    </div>
  </div>
  <hr>

  <h4>For white text color - <code>.white-text</code>:</h4>
  <hr>
  <h3 class="white-text">Example White Header</h3>
  <div class="codeBlock mvl">
    <div class="highlight">
      <pre><span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"white-text"</span><span class="nt">&gt;</span>Example White Header<span class="nt">&lt;/h3&gt;</span></pre>
    </div>
  </div>
  <hr>

  <h4>For meta information - <code>.meta-info</code>:</h4>
  <hr>
  <span class="meta-info">Christina Koller - June 29, 2015 at 3:15pm</span>
  <div class="codeBlock mvl">
    <div class="highlight">
      <pre><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"meta-info"</span><span class="nt">&gt;</span>Christina Koller - June 29, 2015 at 3:15pm<span class="nt">&lt;/span&gt;</span></pre>
    </div>
  </div>
  <hr>

</div>
          </div>
          <p>This documentation generated using <a href="http://github.com/trulia/hologram">Hologram</a>
        </section>
      </div>
    </div>
  </body>
</html>
