@import "constants/colors";

// ======================
// COLORS
// ======================

.circle {
  text-align: center;
  height: 200px;
  width: 200px;
  padding-top:90px;
  border-radius: 200px;
  display: inline-block;
  border: 2px solid black;
  margin: 20px;
}

.la-white { background-color: $la-white; }
.la-light-grey { background-color: $la-light-grey; }
.la-grey { background-color: $la-grey; }
.la-med-dark-grey { background-color: $la-med-dark-grey; color: white; }
.la-dark-grey { background-color: $la-dark-grey; color: white; }
.la-black-grey { background-color: $la-black-grey; color: white; }

.la-blue { background-color: $la-blue; color: white; }
.la-light-blue { background-color: $la-light-blue; }
.la-pink { background-color: $la-pink; color: white; }
.la-light-pink { background-color: $la-light-pink; }
.la-light-green { background-color: $la-light-green; }
.la-green { background-color: $la-green; color: white; }
.la-red { background-color: $la-red; color: white; }

.la-border-color { background-color: $la-border-color; }
