@import "dyson_sphere/constants/colors";
@import "dyson_sphere/constants/fonts";

// ======================
// COLORS
// ======================

.circle {
  text-align: center;
  height: 200px;
  width: 200px;
  padding-top:90px;
  border-radius: 200px;
  display: inline-block;
  border: 2px solid black;
  margin: 20px;
}

.la-white { background-color: $la-white; }
.la-light-grey { background-color: $la-light-grey; }
.la-grey { background-color: $la-grey; }
.la-med-dark-grey { background-color: $la-med-dark-grey; color: white; }
.la-dark-grey { background-color: $la-dark-grey; color: white; }
.la-navy { background-color: $la-navy; color: white; }

.la-blue { background-color: $la-blue; color: white; }
.la-light-blue { background-color: $la-light-blue; }
.la-pink { background-color: $la-pink; color: white; }
.la-light-pink { background-color: $la-light-pink; color: white; }
.la-light-green { background-color: $la-light-green; color: white; }
.la-green { background-color: $la-green; color: white; }
.la-red { background-color: $la-red; color: white; }
.la-dark-yellow { background-color: #FFD800; }

.la-border-color { background-color: $la-border-color; }

// ======================
// FONTS
// ======================

.font-example {
  padding: 30px;
}

.la-font-small { font-size: $la-body-font-size }
.la-font-extra-small { font-size: $la-font-extra-small }

// ======================
// STYLEGUIDE LAYOUT
// ======================

.sub-nav {
  background-color: $la-light-grey;
  padding: 15px;
  padding-left: 0;

  dd a {
    padding-left: 0;
    color: #008CBA;
  }

  dd.active a,
  dd.active a:hover {
    background: none;
    font-weight: bold;
    color: black;
    padding-left: 0;
  }
}

.side-nav {
  border: 1px solid $la-border-color;
  margin-top: 10px;
}

.content {
  h1 {
    border-top: 4px double #999;
    border-bottom: 1px solid #ddd;
    padding-top: 35px;
    margin-top: 35px;
    margin-bottom: 25px;
  }

  h1.no-border {
    border-top: 0px;
    border-bottom: 0px;
    padding-top: 0;
  }
}
