/*doc
---
title: Buttons
name: buttons
category: Buttons
---
<p>Besides normal Foundation buttons, you can also specify green and pink buttons.</p>

<h3>Primary Buttons:</h3>

<div class="button">.button</div> <br>
<div class="btn-green">.btn-green</div> <br>
<div class="btn-pink">.btn-green</div> <br>

<h3>Secondary Buttons:</h3>
<div class="btn-border button">.btn-border</div> <br>

*/

.btn-green {
  @extend .button;
  background-color: $la-light-green !important;

  &:hover, &:focus {
    background-color: #a1e33e !important;
  }
}

.btn-pink {
  @extend .button;
  background-color: $la-pink !important;

  &:hover, &:focus {
    background-color: #eb66a3 !important;
  }
}

.btn-border {
  @extend .button;
  padding: 1.5rem 2.5rem;

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px solid white;
    z-index: 1;
  }
}
