/*doc
---
title: Fixed Headers
name: fixedHeaders
category: Headers and Hero Images
---

```html_example
<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: [small, medium, large]">
    <ul class="pll title-area">
      <li class="name">
        <h1>
          <a href="#">Launch <strong>Academy</strong></a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#">
          <span></span>
        </a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li>
          <a href="#">Learn on Campus</a>
        </li>
        <li>
          <a href="#">Learn Online</a>
        </li>
        <li>
          <a href="#" class="btn-pink cta">Apply</a>
        </li>
      </ul>
    </section>
  </nav>
</div>

```

<p>By default, fixed headers will be `$la-blue` no matter where you are on the page.</p>

<p>To make your header transparent when at the top of the page, on a particular page,
add the class `.has-transparent-header` to some element on the page. (We recommend
the first element of the page, such as the hero image or video.)</p>

*/

// On medium screens and up, use transparent background
@media only screen and (min-width:#{lower-bound($topbar-breakpoint)}) {
  .sticky {
    .top-bar {
      transition: background .2s;
    }

    &.has-background {
      .top-bar-section ul li,
      .top-bar-section li:not(.has-form) a:not(.button):not(.btn-green):not(.btn-pink):not(.btn-border) {
        transition-delay: .2s;
      }
    }

    &:not(.has-background) {
      position: absolute;
      width: 100%;

      .top-bar,
      .top-bar-section ul li,
      .top-bar-section li:not(.has-form) a:not(.button):not(.btn-green):not(.btn-pink):not(.btn-border) {
        background: transparent !important;
      }
    }

    .top-bar-section .right li:last-child {
      padding-right: 16px;
    }
  }
}

.f-topbar-fixed {
  padding-top: 0 !important;
}
