/*doc
---
title: Header w/ Search Bar
name: header_with_search_bar
category: Headers and Hero Images
---

```html_example
<div class="contain-to-grid full-top-bar">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">DysonSphere Styleguide</a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#">
          <span>Menu</span>
        </a>
      </li>

    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li class="has-form">
          <div class="row collapse search">
            <form>
              <input class="left" id="query" name="query" placeholder="Search" type="text" />
              <button class="search-button" name="button" type="submit">
                <i class='fa fa-search'></i>
              </button>
            </form>
          </div>
        </li>
        <li class="has-dropdown">
          <a href="">Admin</a>
          <ul class="dropdown">
            <li><a href="#">Users</a></li>
            <li><a href="#">Teams</a></li>
          </ul>
        </li>
      </ul>

      <ul class="right">
        <li><a href="https://github.com/LaunchAcademy/dyson_sphere" target="_blank">Github</a></li>
        <li class="has-dropdown">
          <a href="">Account Details</a>
          <ul class="dropdown">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>
```

*/

.top-bar-section .has-form {
  padding-top: 20px;
}

.search {
  position: relative;

  input,
  input:focus,
  button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid white;
    padding-left: 0;
    top: 10px;
    color: white;
    font-family: $header-font;
  }

  button {
    position: absolute;
    padding-top: 2px;
    padding-bottom: 2px;
    // padding: .35rem;
    padding-left: 0;
  }

  ::-webkit-input-placeholder {
     color: white;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: white;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: white;
  }

  :-ms-input-placeholder {
     color: white;
  }
}
