/*doc
---
title: Split Columns (Medium)
name: splitColumnsMedium
category: Layout and Formatting
---

<p>Split columns allow you to have two pieces of content next to each other, separated by a vertical line. On small screens, the will move to be vertically stacked and have a horizontal separator line.</p>

```haml_example
split_column_medium
.split_column_medium.clearfix
  .columns.medium-6
    %p You can really have whatever your heart desires here for content.
  .columns.medium-6
    %p You can really have whatever your heart desires here for content.

```
*/

.split_column_medium {
  margin-top: 3em;
  margin-bottom: 3em;
}

.split_column_medium > div:nth-child(2) {
  border-top: 1px solid $la-border-color;
  padding-top: 3em;
  margin-top: 3em;
}

// Medium screens and up
@media #{$medium-up} {
  .split_column_medium > div:nth-child(2) {
    border-left: 1px solid $la-border-color;
    border-top: 0px;
    margin-top: 0;
    padding-top: 0;
  }
}
