/*doc
---
title: Typography Helper Classes
name: typography_helper_classes
category: Colors and Fonts
---
<div class="la-panel pal">
  <p>These helper classes will allow you to apply consistent styling to different types of text you might want to use.</p>

  <h4>For meta information - <code>.meta-info</code>:</h4>
  <hr>

  <span class="meta-info">Christina Koller - June 29, 2015 at 3:15pm</span>
  <div class="codeBlock mvl">
    <div class="highlight">
      <pre><span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"meta-info"</span><span class="nt">&gt;</span>Christina Koller - June 29, 2015 at 3:15pm<span class="nt">&lt;/span&gt;</span></pre>
    </div>
  </div>

  <h4>For blue text color - <code>.blue-text</code>:</h4>
  <hr>
  <h3 class="blue-text">Example Blue Header</h3>
  <div class="codeBlock mvl">
    <div class="highlight">
      <pre><span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"blue-text"</span><span class="nt">&gt;</span>Example Blue Header<span class="nt">&lt;/h3&gt;</span></pre>
    </div>
  </div>

  <h4>For green text color - <code>.green-text</code>:</h4>
  <hr>
  <h3 class="green-text">Example Green Header</h3>
  <div class="codeBlock mvl">
    <div class="highlight">
      <pre><span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"green-text"</span><span class="nt">&gt;</span>Example Green Header<span class="nt">&lt;/h3&gt;</span></pre>
    </div>
  </div>
</div>

*/

.meta-info {
  font-size: $la-font-extra-small;
  color: $la-grey;
}

.blue-text {
  color: $la-blue;
}

.green-text {
  color: $la-light-green;
}
