$la-white: #FFF;
$la-light-green: #86CC2E;

$la-light-grey: #F2F2F2;
$la-grey: #CCCCCC;

$la-light-pink: #FF7DD6;
$la-pink: #EA237C;

$la-light-blue: #E5F3F4;
$la-blue: #37becc;

$body-text-color: #777;
$topbar-bg: $la-blue;
$topbar-text-color: #fff;
$topbar-dropdown-bg: #eee;
$topbar-dropdown-text-color: #333;

// OLD COLORS

$link-blue: #4183c4;
$border-color: #ddd;
$line-no-color: #aaaaaa;

$article-color: #00aa00;
$challenge-color: #aa0000;
$tutorial-color: #aaaa00;
$exercise-color: #0000aa;

$light-bg-color: #f7f7f7;
$dark-bg-color: #dedede;
$code-bg-color-light: #f8f8f8;
$code-bg-color-dark: #d8d8d8;
$filename-bg-color: #d8d8d8;
$comment-bg-color: #e3f3f6;
