/*doc
---
title: Colors
name: colors
category: Colors and Fonts
---
<h3>Base Colors</h3>

<div class="row">
  <div class="circle la-white">$la-white</div>
  <div class="circle la-light-grey">$la-light-grey</div>
  <div class="circle la-grey">$la-grey</div>
  <div class="circle la-med-dark-grey">$la-med-dark-grey</div>
  <div class="circle la-dark-grey">$la-dark-grey</div>
  <div class="circle la-black-grey">$la-black-grey</div>
</div>

<h3>Accent Colors</h3>

<div class="row">
  <div class="circle la-blue">$la-blue</div>
  <div class="circle la-light-blue">$la-light-blue</div>
  <div class="circle la-pink">$la-pink</div>
  <div class="circle la-light-pink">$la-light-pink</div>
  <div class="circle la-light-green">$la-light-green</div>
  <div class="circle la-green">$la-green</div>
  <div class="circle la-red">$la-red</div>
</div>

<h3>Misc Colors</h3>

<div class="row">
  <div class="circle la-border-color">$la-border-color</div>
</div>

*/

// Base Colors
// ----------------
$la-white: #FFF;

$la-light-grey: #F7F7F7;
$la-grey: #CCCCCC;
$la-med-dark-grey: #999;
$la-dark-grey: #777;
$la-black-grey: #333;

// Accent Colors
// ----------------
$la-light-green: #86CC2E;
$la-green: #00aa00;

$la-red: #D3080C;

$la-light-pink: #FF7DD6;
$la-pink: #EA237C;

$la-light-blue: #E5F3F4;
$la-blue: #37becc;

// Misc Colors
// ------------------
$la-border-color: #ddd;
