/*doc
---
title: Fonts
name: fonts
category: Typography
---
<div class="panel">
  <h1 class="no-border">Primary Font: Quatro Slab</h1>
  <p>Variable name: <code>$header-font</code></p>
  <p>Used for headlines, sub headlines, short body copy, hyperlinks and CTA buttons</p>

  <h3> Header Font Weights</h3>
  <p>We have 3 different font weights we use: `normal`, `bold`, and `$medium-weight` (which maps to the CSS value of `500`). Use any of these three values when setting font weight for a header font (and preferably not any other values besides these three options.)</p>
</div>
<hr>
<div class="panel">
  <h3>Example $body-font - size $la-body-font-size (default size):</h3>
  <p class="la-font-small">Cupcake ipsum dolor sit. Amet sweet roll lollipop candy wafer ice cream gingerbread biscuit. Gummies macaroon bonbon tart cotton candy dessert. Dessert sesame snaps toffee oat cake caramels cookie biscuit macaroon marshmallow. Marzipan croissant gingerbread sweet roll muffin danish. Powder tootsie roll toffee. Carrot cake dessert dragée wafer cake brownie. Icing pastry oat cake.</p>

  <h3>Size $la-font-extra-small:</h3>
  <p class="la-font-extra-small">Cupcake ipsum dolor sit. Amet sweet roll lollipop candy wafer ice cream gingerbread biscuit. Gummies macaroon bonbon tart cotton candy dessert. Dessert sesame snaps toffee oat cake caramels cookie biscuit macaroon marshmallow. Marzipan croissant gingerbread sweet roll muffin danish. Powder tootsie roll toffee. Carrot cake dessert dragée wafer cake brownie. Icing pastry oat cake.</p>
</div>
<hr>
<div class="panel">
  <h3>Example $code-font</h3>
  <pre class="highlight plaintext"><code>Yay example code!!&#x000A;</code></pre>
</div>
*/
$header-font: "quatro-slab", sans-serif;
$body-font: 'Helvetica Neue', sans-serif;
$code-font: Consolas, 'Liberation Mono', Courier, monospace;

$medium-weight: 500;

@font-face {
  font-family: 'quatro-slab';
  src: font-url('dyson_sphere/QuatroSlab_Regular.eot'); /* IE9 Compat Modes */
  src: font-url('dyson_sphere/QuatroSlab_Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       font-url('dyson_sphere/QuatroSlab_Regular.woff') format('woff'), /* Pretty Modern Browsers */
       font-url('dyson_sphere/QuatroSlab_Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('dyson_sphere/QuatroSlab_Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quatro-slab';
  src: font-url('dyson_sphere/QuatroSlab_Medium.eot'); /* IE9 Compat Modes */
  src: font-url('dyson_sphere/QuatroSlab_Medium.eot') format('embedded-opentype'), /* IE6-IE8 */
       font-url('dyson_sphere/QuatroSlab_Medium.woff') format('woff'), /* Pretty Modern Browsers */
       font-url('dyson_sphere/QuatroSlab_Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('dyson_sphere/QuatroSlab_Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'quatro-slab';
  src: font-url('dyson_sphere/QuatroSlab_Bold.eot'); /* IE9 Compat Modes */
  src: font-url('dyson_sphere/QuatroSlab_Bold.eot') format('embedded-opentype'), /* IE6-IE8 */
       font-url('dyson_sphere/QuatroSlab_Bold.woff') format('woff'), /* Pretty Modern Browsers */
       font-url('dyson_sphere/QuatroSlab_Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('dyson_sphere/QuatroSlab_Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

$la-body-font-size: 14px;
$la-font-extra-small: 12px;
$la-font-code-size: 13px;
