$header-font: "quatro-slab", sans-serif;
$body-font: 'Varela Round', sans-serif;
$code-font: Consolas, 'Liberation Mono', Courier, monospace;

@font-face {
  font-family: 'quatro-slab';
  src: font-url('rocket_paint/QuatroSlab_Regular.eot'); /* IE9 Compat Modes */
  src: font-url('rocket_paint/QuatroSlab_Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       font-url('rocket_paint/QuatroSlab_Regular.woff') format('woff'), /* Pretty Modern Browsers */
       font-url('rocket_paint/QuatroSlab_Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('rocket_paint/QuatroSlab_Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

$la-font-small: 15px;
$la-font-extra-small: 12px;
