<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: <%= title %></title>
  </head>
  <body>

    <div class="contain-to-grid full-top-bar">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">DysonSphere Styleguide</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li><a href="https://github.com/LaunchAcademy/dyson_sphere" target="_blank">Github</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <dl class="sub-nav mts">
      <div class="row">
        <% @categories.each do |category, file_name| %>
          <dd class="<%= 'active' if category == title %>">
            <a href="/styleguide/<%= file_name %>"><%= category %></a>
          </dd>
        <% end %>
      </div>
    </dl>

    <div class="row">
      <div class="columns">
        <section class="content">
          <% if @blocks.length > 1 %>
            <div class="small-3 columns">
              <ul class="side-nav">
              <% @blocks.each do |b| %>
                <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="columns <%= 'small-9' if blocks.length > 1 %>">
