/*doc
---
title: Circle
name: circle
category: Page Sections
---

For a circle page section, you can use the class name shown here (though customization using the mixin is recommended). This will display the default image shown here.

```haml_example
circle page section
.circle-page-section
  .hero-section
    .small-12.small-centered.columns
      .hero-circle
      .circle-text
        %h3.bold.circle-text-1 Let's Get
        %h1.circle-text-2 Started!
        %button.btn-border.cta.apply-btn Apply Today
```

<h4>Circle Section Customization</h4>

To customize the circle, image, and overlay, you can include the mixin called <code>circle-page-section</code> in your own custom class.

The mixin takes the following arguments:

<ul>
  <li><code>$filename</code> - the name of the file you want to use as a background image. (This name will the be automatically wrapped in <code>image_url</code>.)</li>
  <li><code>$overlay</code> [OPTIONAL] - the color you would like to overlay the image with. This is set to <code>transparent</code> by default.</li>
  <li><code>$circle-color</code> [OPTIONAL] - the color you would like the circle to be. This is set to <code>$la-blue</code> by default.</li>
  <li><code>$circle-opacity</code> [OPTIONAL] - the opacity you would like your circle to have. This is set to <code>.5</code> by default.</li>
</ul>

Example:

<pre>.my-custom-class {
  @include circle-page-section(
    $filename: "launchers.jpg",
    $overlay: rgba(0,0,0,.5),
    $circle-color: $la-green,
    $circle-opacity: .6);
}</pre>

*/

@mixin circle-page-section(
  $filename,
  $overlay: transparent,
  $circle-color: $la-blue,
  $circle-opacity: .5
) {
  .hero-section {
    height: 690px;
    border-bottom: none;
    // Here we override the top and bottom padding for the image mixin
    @include image-page-section($filename, $overlay);
    padding: 8rem 0;
  }

  .hero-circle {
    position: relative;
    height: 445px;
    width: 445px;
    background-color: $circle-color;
    text-align: center;
    margin: 0 auto;
    opacity: $circle-opacity;
    border-radius: 50%;


    @media #{$small-only} {
      height: 275px;
      width: 275px;
    }
  }

  .circle-text {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 445px;
    padding: 0 30px;

    .btn-border {
      margin-bottom: 0px;
      background: none;
    }

    @media #{$medium-up} {
      h1 {
        line-height: 1.2;
        font-size: 2.95rem;
      }

      h2 {
        line-height: 1;
        font-size: .6rem;
      }
    }

    @media #{$small-only} {
      width: 275px;

      h1 {
        line-height: 1.2;
        font-size: 1.6rem;
      }

      h2 {
        line-height: 1;
        font-size: .6rem;
      }
    }
  }
}

.circle-page-section {
  @include circle-page-section("dyson_sphere/hero_1.jpg", rgba(0,0,0,.5));
}
